<div class="container">

    <div class="row hidden-print" data-toggle="buttons">
        <label ng-repeat="l in levels" class="btn btn-warning col-md-12 col-xs-12" ng-class="radioButtonState(l)">
            <input type="radio" ng-model="$parent.level" value="{{ l.level }}" ng-click="filterExercises()"> {{ l.label }}
        </label>
    </div>

    <div class="row hidden-print" data-toggle="buttons">
        <label class="btn btn-primary col-md-12 col-xs-12" ng-class="checkboxState(muscleGroup)" ng-repeat="muscleGroup in muscleGroups">
            <input type="checkbox" ng-click="filterExercises()" ng-model="muscleGroup.state"> {{ muscleGroup.label }}
        </label>
    </div>
    <!--button ng-click="getExercises()" class="btn btn-primary">load this sh*t!</button-->
    <div class="row hidden-print">
        <button ng-click="filterExercises()" class="btn btn-success col-md-3">randomize this sh*t!</button>
        <button class="btn btn-facebook" ng-click="postWorkout();" disabled="{{ buttonState }}"><i class="icon-facebook"></i> | Share your Workout</button>
    </div>

    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Übung</th>
                    <th>Wiederholungen</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="exercise in exerciseList | limitTo:8" class="col-md-12">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ exercise.exercisename }}</td>
                    <td>{{ exercise.reps }}</td>
                </tr>
            </tbody>
        </table>
        <div >
            <span>{{exercise.exercisename}}</span>
        </div>
    </div>

    <div
            class="fb-login-button"
            data-show-faces="true"
            data-width="200"
            data-max-rows="1"
            data-scope="publish_actions">
    </div>
</div>